@page "/attendance"

@using EventEaseApp.Components
@using EventEaseApp.Components.Events
@using EventEaseApp.Data
@using EventEaseApp.Services

@inject IEventService EventService
@inject IUserService UserService

@if (!UserService.IsAuthenticated)
{
    <RedirectToHome />
}

<AttendanceTrackerComponent Events="events" />

@if (events.Count == 0)
{
 <p>There are no registered events.</p>    
}

@code {
    private List<Event> events = new();

    protected override async Task OnInitializedAsync()
    {
        await EventService.LoadAsync();
        events = await EventService.GetTasksAsync();
    }
}